<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- var list = {
        Personal: {name:'Ram', alias: 'Lakshman', age: 32 },
        Preferences: [{ color: 'blue', theme: 'Azure' },
                    { color: 'yellow', theme: 'Imagination' }]} -->
    <form action="/post" method="post">
        <% for(let key in list){ %>
            <h2><%= key %></h2>
            <% if(key === 'Personal'){%>
                <% for(let ele in list[key]) {%>
                    <label><%=ele%></label>
                    <input name="<%=ele%>" value="<%=list[key][ele]%>" type="text"><br>
                <%}%>   
            <% }else{%>
                <%for(let ele in list.Preferences[0]){%>
                        <h5><%= ele %></h5>
                        <%if(ele === 'color'){%>
                            <label>
                                <% list.Preferences.map(ele => { %>
                                    <%= ele.color %> 
                                <% })%>
                            </label>
                        <% }else{%>
                            <label>
                                <% list.Preferences.map(ele => { %>
                                    <%= ele.theme %> 
                                <% })%>
                            </label>
                        <% } %>
                <% } %>                
            <%}%>
        <% } %>
        <input type="submit">
    </form>
</body>
</html>